.creating_profile_form{
    margin: 3em 3%;
    padding: 1%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.creating_profile_form .field_name{
    margin: 1em 0em;
}
.creating_profile_form .top_button{
    display: flex;
    justify-content: space-between;
    flex-direction: row;    
    width: 100%;
}
.creating_profile_form textarea{
    max-width: 100%;
    min-width: 100%;
}